/* ======================================= 
GLOBAL STYLES 
======================================== */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;600;800&family=Pacifico&display=swap');

:root{
  --white:#fff;
  --black:#260104;
  --gray:#ececec;
  --orange:#F2784B;
  --blue:#51548C;
  --pink:#8C3E5B;
  --red:#BF0B1A;
    --dk_red:#730710;
  
}

body{ position: relative;
  background-color: #f9f9f9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23f7e0d7' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}
/* body:before{content:''; height:100%; width: 63%; background-color:#F9F9F9; position: absolute; top: 0;right: 0; } */
h1{font-size: 65px; margin: 0;}
  h1 span{text-transform: capitalize; }
h2{font-size: 30px; margin: 0; font-weight: 600; text-transform: uppercase;}
h3{font-weight: 500; margin: 0; font-size: 22px;}

.logo{font-family: 'Pacifico', cursive; color:var(--black);}

*{box-sizing: border-box; font-family: 'Barlow Semi Condensed', sans-serif;}

.App {text-align: center;}

/* allPirated */
.allPirates{display: flex;align-items: start;justify-content: center; flex-wrap: wrap; margin: 50px 0;}

/* BUTTON */
.button-lg{background-color:var(--blue); padding: 25px 40px; display: inline-block; text-decoration: none;color:var(--white); text-transform: uppercase; margin-bottom: 25px; border:solid 2px var(--blue); transition: all .25s ease-out;}
  .button-lg:hover{cursor: pointer; background-color: transparent; transition: all .25s ease-out; color:var(--blue);}
  /* CANCLE */
  .cancle{background-color:var(--gray); display: block; text-decoration: none; text-transform: uppercase; max-width: 600px; margin: 10px auto 0 auto; color:var(--white); padding: 15px; font-size: 14px;}
  /* EDIT */
  .edit{text-transform: uppercase; padding: 15px; font-size: 16px; display: block; text-decoration: none;font-weight: 600; letter-spacing: 1px; background-color:var(--md_blue); max-width: 200px; color:var(--white); margin: 0 auto; border: solid 2px var(--md_blue); transition: all .25s ease-out;}
  .edit:hover{transition: all .25s ease-out; background-color: transparent; color:var(--md_blue);}

  /* CONTAINER */
.container{max-width: 1200px; margin: 0 auto; padding: 50px;}
.flex{display: flex;align-items: center;justify-content: center;flex-wrap: wrap;}

.col-2{width: 50%; padding: 0 25px;}

/* FORM */
form{max-width: 600px; margin: 0 auto;}
form label{display: block;text-align-last: left; font-weight: 600;}
form input{border:none; background-color:var(--white); padding: 10px; border-radius:5px;}
form input,form select{width: 100%; padding: 10px;}
  form input:focus,form select:focus{outline: none;  transition: all .25s ease-in; box-shadow: 0px 0px 27px 12px ;
     -webkit-box-shadow: 0px 0px 27px 12px rgba(242,120,75,0.14);
    -moz-box-shadow: 0px 0px 27px 12px rgba(242,120,75,0.14);}
form .checkbox{display: flex;align-items: center;justify-content: start;flex-wrap: wrap; margin: 20px 0;}
form .checkbox input{width: 25px;margin: 0; height: 18px; width: 18px; margin-left: 15px;}
form select{border:none}
/* submit */
form input.disabled{background-color:var(--gray);}
form .submit{background-color:var(--orange); color:var(--white); text-transform: uppercase; font-weight: 400; letter-spacing: 1px; border: none;; padding: 15px;}
form .submitBlue{background-color:var(--blue); color:var(--white); text-transform: uppercase; font-weight: 400; letter-spacing: 1px; border: none;; padding: 15px;}
.submitPink{background-color:var(--pink); color:var(--white);}
form .submit:hover, form .submitBlue:hover{cursor: pointer; opacity: .75;}
  input .disabled{background-color:var(--red); opacity: 0.25;}

  /* validation messages */
  form > div{ margin-bottom: 20px;}
  form > div > span{text-align-last: left;}
  input + span,textarea + span,select + span{display: block; max-height:0; height:100%; overflow: hidden; text-align: left; transition: all .2s ease-in;}
  input:focus + span,textarea:focus + span,select:focus + span{color:var(--red); max-height:50px; transition: all .2s ease-in;}

  /* message */
  .success{color:var(--blue); font-weight: 600; padding-bottom: 10px;}


  /* Database Errors */
  .errWrp{ color:var(--red); font-weight: 400;}
  .errWrp h4{margin:0 ;}


  @media all and (max-width:1000px){
    .container{padding: 25px;}
    .col-2{width: 100%; padding: 25px;}
  }