h2{padding-top: 25px; }
.title{text-align: center !important;}
.wrapper{display: flex;align-items: start;justify-content: space-between;flex-wrap: wrap; padding-bottom: 10px;}
.wrapper > div{width: calc(50% - 10px);}
.wrapper input{width: 100%;}

form .checkbox{text-align: left; position: relative;}
form .checkbox{position: relative; font-size: 20px;padding-top: 10px; width: calc(100% - 50px); left: 50px;}
form .checkbox label{margin: 3px 0 0;}
form .checkbox input{width: 50px;}

form .checkmark,form .uncheckmark {height:30px; width: 30px; background-color: var(--orange); position: absolute; top: 10px;left: -50px; transition:all .15s ease-in;}
    form .uncheckmark{background-color: #eee;}
    form .checkmark{background-color: var(--orange);}
.checkmark:hover, .uncheckmark:hover{cursor: pointer; background-color: #ccc; transition:all .15s ease-in;}

.checkmark:after{content: ""; position: absolute; left: 10px; top: 5px; width: 7px; height: 13px; border: solid white; border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);}