.kidsWrp{width: 100%; text-align: left; padding-left: 150px; display: flex;align-items: center;justify-content: start;   flex-wrap: wrap; margin-bottom: 25px;}
.kidsTitle{text-align: left; margin-bottom: 25px; padding-left: 150px; }
.img{border-radius: 50%; height:75px;}

.txtWrp{width: calc(100% - 300px); padding-left: 25px;}
.txtWrp .name{font-weight: 600; font-size: 18px; margin: 0;}

.actions{ width: 200px;}
.actions svg{margin: 0 10px;}
.actions svg:hover{cursor: pointer; color:var(--pink);}