/* spouse */    
.spouseWrp h2{width: 100%; text-align-last: left;}
.spouseWrp{display: flex;align-items: start;justify-content: center;flex-wrap: wrap;}

@media all and (max-width:1000px){
    .spouseWrp{flex-direction: column;}
}