.stepSiblingWrp{display: flex; align-items: center; justify-content: start; margin: 25px 0; width: 100%;}
.stepSiblingWrp > span{width: 50px;}

/* img */
.stepSiblingWrp .imgColumn{width: 175px;}
.stepSiblingWrp .imgColumn .img{border-radius:50%; height: 150px; width: auto; margin-right: 25px;}
.stepSiblingWrp svg{padding-right: 10px;}

/* name/birthday */
.stepSiblingWrp .name{font-size: 25px;font-weight: 600;width: 100%; margin: 0 0 10px;}
.stepSiblingWrp .birthday{margin-top: 0;}
.stepSiblingWrp .birthday svg{color:var(--pink);}

/* contaccInfo */
.stepSiblingWrp .contactInfo{width: calc(33.33% - 50px); padding: 0 10px; text-align: left;}
.stepSiblingWrp .contactInfo span a{color:var(--orange); text-decoration: none; display: block; padding-bottom: 5px;}
.stepSiblingWrp .contactInfo span a:hover{color:var(--black);}

/* addressWrp */
.stepSiblingWrp .addressWrp{width: calc(33.33% - 50px);text-align: left; padding: 0 10px;}
.stepSiblingWrp .addressWrp a.address{display: block; background-color:var(--orange); color:var(--white); text-decoration: none;padding: 10px 25px;  text-align: center; border-radius: 5px; border-bottom:solid 2px var(--orange);  transition: all .25s ease-in;}
.stepSiblingWrp .addressWrp .address > span{padding-left: 25px; display: block;}
.stepSiblingWrp .addressWrp a.address:hover{border-radius: 0; background-color:transparent; color:var(--orange); transition: all .25s ease-in;}

@media all and (max-width:1000px){
    .addressWrp,.contactInfo,.contentWrp{width: 100%; padding: 0;}
}